@CHARSET "UTF-8";
body { 
	background:#9BC86A; 
	font-size: 14px;
	font-family: 'Merriweather', sans-serif;
	padding: 20px;
}

blockquote {
	color:white;
	text-align:center;
}

form {
	width: 60%;
	height: 40px;
	text-align: center;
	margin: 5px auto;
}
  
input {
	padding: 10px;
	line-height: 5px; 
	border: 0px; 
	outline: 0px;
	border-radius: 8px;
/*  padding: 1em;   display: block;*/
	width: 20%;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: 'Merriweather', sans-serif;
	box-shadow: 1px 1px rgba(black, 0.1);
	resize: none;
}
  
input[type=submit] {
	padding: 10px;
	line-height: 15px;
	color: black; 
	background: #FFED86;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 1px 1px 1px rgba(#aaa, 0.6); 
}

input::placeholder {
	color: lightgrey;  
}

table { 
  	border-spacing: 1; 
  	border-collapse: collapse; 
  	background:white;
  	border-radius:6px;
  	overflow:hidden;
	max-width:800px; 
	width:100%;
  	margin:0px auto;
  	position:relative;
}
  
td,th {
	position: relative;
	padding-left:8px;
}

thead tr { 
    height:40px;
    background:#FFED86;
    font-size:16px;
}
  
tbody tr { 
	height:35px;
	border-bottom:1px solid #E3F1D5;
	last-child  { border: 0; }
}
  
td,th { 
	text-align:center;
}